/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
/*  .menu li {
        @include absolute(top 100% left 0)
    }
    .sticky-bar {
        @include fixed(top 0 left 0)
    }
    .submenu{
        @include relative()
    }
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clicklable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #b1cfec;
  color: #2e73b8;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #577da2;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
.Navbar,
.List {
  background-color: #f2f5f8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Navbar *,
.List * {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}
.Navbar .Link1,
.Navbar .Link2,
.Navbar .Link3,
.Navbar .Link4,
.List .Link1,
.List .Link2,
.List .Link3,
.List .Link4 {
  user-select: none;
  font-size: 125%;
  color: #2e73b8;
  transition: all 0.3s ease;
  max-width: 5rem;
  text-align: center;
}
.Navbar .Link1::before,
.Navbar .Link2::before,
.Navbar .Link3::before,
.Navbar .Link4::before,
.List .Link1::before,
.List .Link2::before,
.List .Link3::before,
.List .Link4::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 5.1rem;
  width: 0%;
  height: 2px;
  background-color: #1e4a76;
  transition: all 0.3s ease;
  box-shadow: none;
}
.Navbar .Link1:hover,
.Navbar .Link2:hover,
.Navbar .Link3:hover,
.Navbar .Link4:hover,
.List .Link1:hover,
.List .Link2:hover,
.List .Link3:hover,
.List .Link4:hover {
  color: #78abdd;
}
.Navbar .Link1:hover::before,
.Navbar .Link2:hover::before,
.Navbar .Link3:hover::before,
.Navbar .Link4:hover::before,
.List .Link1:hover::before,
.List .Link2:hover::before,
.List .Link3:hover::before,
.List .Link4:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 5.1rem;
  height: 2px;
  background-color: #1e4a76;
  transition: all 0.3s ease;
}
.Navbar .Link1:hover::before,
.List .Link1:hover::before {
  width: 3.5rem;
}
.Navbar .Link2:hover::before,
.List .Link2:hover::before {
  width: 3.5rem;
}
.Navbar .Link3:hover::before,
.List .Link3:hover::before {
  width: 5rem;
}
.Navbar .Link4:hover::before,
.List .Link4:hover::before {
  width: 2.5rem;
}
.Navbar .Social *,
.List .Social * {
  color: #78abdd;
  margin-top: 1.25rem;
  transition: all 0.3s ease;
}

.menu {
  cursor: pointer;
  transition: all 0.3s ease;
  transform: rotate(0deg);
  transform-origin: 50% 45%;
}

.menuTurn {
  cursor: pointer;
  transition: all 0.3s ease;
  transform: rotate(90deg);
  transform-origin: 50% 45%;
}

.menu,
.menuTurn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #2e73b8;
}

.Compressed {
  justify-content: space-between;
  font-size: 150%;
}

#Logo {
  user-select: none;
}

span#Hello {
  color: black;
  margin: 0;
}

.List {
  user-select: none;
  background-image: linear-gradient(#dbe3eb, #f2f5f8, #f2f5f8, #f2f5f8, #f2f5f8, #f2f5f8, #f2f5f8, #f2f5f8, #f2f5f8);
  height: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.List * {
  visibility: hidden;
  color: #2e73b8;
}
.List:hover {
  transition: all 0.3s ease;
  background-image: linear-gradient(#9cb3c9, #bdccdb, #bdccdb, #bdccdb, #bdccdb, #bdccdb, #bdccdb, #bdccdb, #bdccdb);
}
.List:hover * {
  color: #f2f5f8;
  transition: all 0.3s ease;
}

.List.Clicked {
  user-select: none;
  height: auto;
  visibility: visible;
}
.List.Clicked * {
  visibility: visible;
}

.Link {
  font-size: 125%;
  max-width: 5rem;
  text-align: center;
  user-select: none;
}

br {
  user-select: none;
}

#socialsCompressed {
  height: 0;
  visibility: hidden;
}

#socialsCompressed.Clicked {
  height: 2rem;
  visibility: visible;
}

/*# sourceMappingURL=main.css.map */
